@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --primary-color: #FFDB00;
  /* Màu chủ đạo */
  --secondary-color: #292929;
  /* Màu phụ */
  --background-color: #ffffff;
  /* Màu nền */
  --font-color: #282828;
  /* Màu chữ chính */
  --footer-bg: #292929;
  /* Màu nền footer */
  --button-padding: 10px 20px;
  /* Padding cho button */
  --button-radius: 4px;
  /* Border radius cho button */
}

body {
  color: var(--font-color);
  background: var(--background-color);
}

.layout-container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 10px;
}

.item-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* menu */
.menu-item {
  position: relative;
}


.menu-item:hover {
  color: var(--primary-color);
}

.menu-item::before {
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 0;
  height: 1px;
  transition: width 0.4s;
  background-color: var(--font-color);
}

.menu-item:hover::before {
  width: 100%;
  background-color: var(--primary-color);
}

/* menu */

/* navigation banner */
.swiper-button-prev,
.swiper-button-next {
  position: relative;
  width: 40px !important;
  height: 40px !important;
  background-color: #fff;
  opacity: 0.6;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 13px !important;
  font-weight: 900 !important;
  color: black;
}

.swiper-button-next::before {
  position: absolute;
  content: "";
  right: 100%;
  top: 0;
  border-left: 10px solid transparent;
  border-bottom: 40px solid #fff;
}

.swiper-button-prev::before {
  position: absolute;
  content: "";
  left: 100%;
  top: 0;
  border-right: 10px solid transparent;
  border-bottom: 40px solid #fff;
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 4px !important;
  border-radius: 3px !important;
  background-color: var(--primary-color) !important;
}

/* navigation banner */

/* product categories */
.product-categories_item_img {
  position: relative;
}

.product-categories_item_img::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110px;
  height: 110px;
  border-radius: 50%;
  z-index: -1;
  background-color: #ebebeb;
  transition: all 0.3s ease-in-out;
}

.product-categories_item:hover .product-categories_item_img::before {
  width: 125px;
  height: 125px;
  background-color: var(--primary-color);
}

/* product categories */

/* coupon */
.coupon-card_left,
.coupon-card_right {
  position: relative;
  border: 1px solid #e7e7e7;
  box-shadow: 0 0 5px #e7e7e7;
}

.coupon-card_left {
  border-right: none;
}

.coupon-card_right {
  border-left: none;
}

.coupon-card_left::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background-color: black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 8px;
  height: 100%;
}

.coupon-card_left::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 50%;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid dashed;
  border-right: 2px dashed #ccc;
  z-index: 2;
}

/* coupon */

/* product card */
.product-card_img:hover {
  box-shadow: 0 0 4px rgb(219, 219, 219);
}

.quick-view,
.add-cart {
  position: relative;
}

.quick-view span,
.add-cart span {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  font-size: 11px;
  padding: 4px 6px;
  border-radius: 5px;
  opacity: 0;
  transition: all 0.3s;
}

.quick-view span::before,
.add-cart span::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 20px;
  height: 20px;
  background-color: #333;
  z-index: -1;
}

.quick-view:hover span,
.add-cart:hover span {
  opacity: 1;
  top: -30px;
}

/* product card */

/* product overview */
  @keyframes borderEffect {
   0% {
        box-shadow: 0 0 0 0 rgba(232, 232, 232, 0.4);
      }
      50% {
        box-shadow: 0 0 10px 5px rgba(235, 235, 235, 0.7); /* Màu sáng hơn một chút */
      }
      100% {
        box-shadow: 0 0 0 0 rgba(232, 232, 232, 0.2); /* Màu nhạt dần */
      }
    }


    .btn-border-effect {
      transition: all 0.3s ease;
    }

    .btn-border-effect {
      animation: borderEffect 1s infinite;
    }
    .btn-border-effect span{
      box-shadow: 0 0 8px rgb(182, 182, 182);
    }
/* product overview */


/* product slick */
.slick-next::before,
.slick-prev::before{
  color: rgb(162, 162, 162) !important;
  font-size: 25px !important;
}
/* product slick */

/* product detail */
.discount-product-detail-item{
  position: relative;
  overflow: hidden;
  padding: 5px 0px;
  font-weight: 500;
}
.discount-product-detail-item span{
  border: 1px solid #000000;
  padding: 5px 9px;
  border-radius: 5px;
  z-index: -1;
}

.discount-product-detail-item::before,
.discount-product-detail-item::after{
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #000000;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(255, 255, 255);
  z-index: 1;
}
.discount-product-detail-item::before{
  left: -4px;
}
.discount-product-detail-item::after{
  right: -4px;
}
/* product detail */

/* description tabs */
.description-tabs_item{
  position: relative;
  padding: 3px 0px;
}
.description-tabs_item::before{
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0%;
  height: 3px;
  transition: all 0.3s;
  background-color: #000000;
}
.description-tabs_item.active::before{
  background-color:var(--primary-color);
  width: 100%;
}
/* description tabs */

